[user]
	name = Dean Salmons-Snelton
	email = dsalmonssnelton@assemblypayments.com
[push]
	default = simple
[alias]
  st = status
  co = checkout
  lg = log --pretty=format:'%Cred%h%Creset %ad -%C(yellow)%d%Creset %C(bold blue)%s%Creset %C(bold green)<%an>%Creset' --date=short
  lgg = log --pretty=format:'%Cred%h%Creset %ad -%C(yellow)%d%Creset %C(bold blue)%s%Creset %C(bold green)<%an>%Creset' --date=short --graph
  pum = pull --ff-only upstream master
  gui = !sh -c '/usr/local/Cellar/git/2.14.2/libexec/git-core/git-gui'
  fixup = commit --fixup
  autosquash =rebase -i --autosquash
  #deletem = branch --merged | !sh egrep -v '(^\*|master|dev)' | xargs git branch -d
  created = log --diff-filter=A --follow --format=%aD -1 -- 
  fixupcommit = commit --amend --no-edit
[core]
	editor = /usr/bin/vim
	excludesfile = /Users/dean.salmonssnelton/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[url "ssh://git@scm.applatform.io:7999/"]
    insteadOf = https://scm.applatform.io/
